<div class="flex flex-column justify-content-start align-items-start w-12 m-3">
    <p-avatar image="https://primefaces.org/cdn/primeng/images/demo/avatar/amyelsner.png" class="ml-3"
        size="xlarge" shape="circle" alt="yourImage"></p-avatar>
    <div class="flex flex-column m-4 justify-content-start align-items-start">
        <h2>yourName</h2>
        <span class="text-primary">position</span>
        <span>city</span>
    </div>

    <div class="card flex justify-content-center">
        <p-listbox [options]="topics" [(ngModel)]="selectedTopic" optionLabel="name" [style]="{'width':'15rem'}"
            [listStyle]="{'max-height': '220px'}" (onChange)="handleScroll(selectedTopic)"></p-listbox>
    </div>
</div>