<div class="flex w-12 flex-column m-0 justify-content-start align-items-start">
    <h1 class="flex justify-content-start align-items-start">Work Experience</h1>

    <div class="flex w-12" *ngFor="let job of jobs">
        <div class="flex w-12 flex-column justify-content-start align-items-start">
            <h1 class="text-blue-500">{{job.title}}</h1>
            <!-- <span>{{date | dateDayjs}}</span> -->
            <span>{{job.date}}</span>
            <p>{{job.description}}</p>
            <span class="text-green-600" *ngFor="let item of job.technologies">{{item}}</span>
        </div>
    </div>
</div>